# Default ignored files
/shelf/
/workspace.class
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_1.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_1.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_1.xml
/.idea/libraries/Maven__org_openjfx_javafx_base_15_0_1.xml
/.idea/libraries/Maven__org_openjfx_javafx_base_win_15_0_1.xml
/.idea/libraries/Maven__org_openjfx_javafx_controls_15_0_1.xml
/.idea/libraries/Maven__org_openjfx_javafx_controls_win_15_0_1.xml
/.idea/libraries/Maven__org_openjfx_javafx_fxml_15_0_1.xml
/.idea/libraries/Maven__org_openjfx_javafx_fxml_win_15_0_1.xml
/.idea/libraries/Maven__org_openjfx_javafx_graphics_15_0_1.xml
/.idea/libraries/Maven__org_openjfx_javafx_graphics_win_15_0_1.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/src/main/java/com/cuentabancaria/encoder/Encoder.java
/target/classes/com/cuentabancaria/modelo/cuentas/Accion.class
/src/main/resources/imagenes/atm.jpg
/target/classes/imagenes/atm.jpg
/src/main/resources/imagenes/atm-buttons.jpg
/target/classes/imagenes/atm-buttons.jpg
/src/main/resources/imagenes/bapro_logo_2021.png
/target/classes/imagenes/bapro_logo_2021.png
/target/classes/com/cuentabancaria/vista/buscarPersona.class
/target/classes/com/cuentabancaria/modelo/cuentas/CajaAhorro.class
/target/classes/com/cuentabancaria/modelo/CambiarFecha.class
/src/main/resources/imagenes/card.jpg
/target/classes/imagenes/card.jpg
/target/classes/com/cuentabancaria/basedatos/ConexionBD.class
/target/classes/test/ConexionBDTest.class
/target/classes/com/cuentabancaria/basedatos/Configuracion.class
/src/main/java/com/cuentabancaria/basedatos/Configuracion.java
/target/classes/test/ConsultaBDTest.class
/target/classes/com/cuentabancaria/controlador/Controlador.class
/target/classes/com/cuentabancaria/basedatos/controlador/ControladorBaseDato.class
/target/classes/com/cuentabancaria/controlador/buscar/ControladorBuscarPersona.class
/target/classes/com/cuentabancaria/controlador/test/ControladorConsultaBDTest.class
/src/main/java/com/cuentabancaria/controlador/test/ControladorConsultaBDTest.java
/target/classes/com/cuentabancaria/controlador/ControladorCrearTitular.class
/target/classes/com/cuentabancaria/controlador/ControladorCuentaBancaria.class
/target/classes/com/cuentabancaria/controlador/cuentaBancaria/ControladorCuentaBancaria2.class
/target/classes/com/cuentabancaria/controlador/login/ControladorLogin.class
/target/classes/com/cuentabancaria/controlador/login/ControladorRegistrarse.class
/target/classes/com/cuentabancaria/controlador/titular/ControladorTitular.class
/target/classes/com/cuentabancaria/controlador/cuentaBancaria/ControladorTransacciones.class
/target/classes/com/cuentabancaria/vista/CrearTitular.class
/src/main/resources/estilos/crearTitular.css
/target/classes/estilos/crearTitular.css
/target/classes/com/cuentabancaria/modelo/cuentas/CuentaBancaria.class
/target/classes/com/cuentabancaria/vista/CuentaBancaria.class
/target/classes/com/cuentabancaria/vista/CuentaBancaria2.class
/target/classes/com/cuentabancaria/modelo/cuentas/CuentaCorriente.class
/src/main/resources/estilos/depositarRetirar.css
/target/classes/estilos/depositarRetirar.css
/target/classes/com/cuentabancaria/encoder/Encoder.class
/target/classes/com/cuentabancaria/controlador/estilos/Etiqueta.class
/src/main/java/com/cuentabancaria/controlador/estilos/Etiqueta.java
/src/main/resources/imagenes/favicon.ico
/target/classes/imagenes/favicon.ico
/src/main/resources/imagenes/fondo-pantalla.jpg
/target/classes/imagenes/fondo-pantalla.jpg
/src/main/resources/imagenes/header_logo.gif
/target/classes/imagenes/header_logo.gif
/target/classes/com/cuentabancaria/vista/HistorialTransacciones.class
/src/main/resources/estilos/historialTransacciones.css
/target/classes/estilos/historialTransacciones.css
/src/main/resources/imagenes/icono.png
/target/classes/imagenes/icono.png
/target/classes/com/cuentabancaria/vista/Inicio.class
/src/main/resources/estilos/inicio.css
/target/classes/estilos/inicio.css
/.idea/libraries/JavaFXSdk.xml
/target/classes/com/cuentabancaria/vista/Login.class
/target/classes/imagenes/logoBancoPcia.png
/.idea/libraries/Maven__com_beust_jcommander_1_78.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_1.xml
/.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_11_4.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_15.xml
/.idea/libraries/Maven__junit_junit_4_13_2.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_27.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_1.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_1.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_1.xml
/.idea/libraries/Maven__org_openjfx_javafx_base_17_0_0_1.xml
/.idea/libraries/Maven__org_openjfx_javafx_base_win_17_0_0_1.xml
/.idea/libraries/Maven__org_openjfx_javafx_controls_17_0_0_1.xml
/.idea/libraries/Maven__org_openjfx_javafx_controls_win_17_0_0_1.xml
/.idea/libraries/Maven__org_openjfx_javafx_fxml_17_0_0_1.xml
/.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_0_0_1.xml
/.idea/libraries/Maven__org_openjfx_javafx_graphics_17_0_0_1.xml
/.idea/libraries/Maven__org_openjfx_javafx_graphics_win_17_0_0_1.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_32.xml
/.idea/libraries/Maven__org_testng_testng_7_5.xml
/.idea/libraries/Maven__org_webjars_jquery_3_5_1.xml
/target/classes/module-info.class
/target/classes/com/cuentabancaria/modelo/titular/Organizacion.class
/target/classes/com/cuentabancaria/modelo/titular/Persona.class
/src/main/resources/imagenes/progress.gif
/target/classes/imagenes/progress.gif
/target/classes/com/cuentabancaria/modelo/titular/pruebas/PruebaTitular.class
/src/main/java/com/cuentabancaria/modelo/titular/pruebas/PruebaTitular.java
/target/classes/com/cuentabancaria/basedatos/querys/Query.class
/target/classes/com/cuentabancaria/vista/login/registrarse/Registrarse.fxml
/target/classes/com/cuentabancaria/modelo/titular/Titular.class
/target/classes/com/cuentabancaria/vista/TitularOrganizacion.class
/target/classes/com/cuentabancaria/vista/TitularPersona.class
/target/classes/com/cuentabancaria/modelo/cuentas/Transaccion.class
/target/classes/test/TransaccionTest.class
/src/main/java/test/TransaccionTest.java
/target/classes/com/cuentabancaria/modelo/usuario/Usuario.class
/target/classes/com/cuentabancaria/controlador/Validador.class
/target/classes/com/cuentabancaria/controlador/login/ValidadorLoginRegistro.class
/target/classes/test/ValidadorTest.class
/src/main/java/test/ValidadorTest.java
